aside.widget.widget_tags
	h4 TAGS
	ul
		li
			a(href="#!") HOTEL
		li
			a(href="#!") SERVICES
		li
			a(href="#!") ROOM
		li
			a(href="#!") QUALITY
		li
			a(href="#!") POOL
		li
			a(href="#!") LUXURY
		li
			a(href="#!") GYM
		li
			a(href="#!") BOOKING
		li
			a(href="#!") SPA
		li
			a(href="#!") GOLF
		li
			a(href="#!") FOOTBALL
		li
			a(href="#!") TV
		li
			a(href="#!") WIFI