aside.widget.widget_text
	h4 ABOUT XENIA
	.textwidget.text-justify    Either you look for a luxurious experience or a remarkable on the go experience, Xenia Resort is the place to visit and spend the time at. We offer quality services.
	.text_block
		div
			i.icon.icon-Phone
			| 255 - 5546 989
		div
			i.icon.icon-Flag
			| Mercury Hills 40, Atlanta
		div
			i.icon.icon-Keyboard
			| support@xenia.com