// ============= ADS ===========

aside.widget.widget_ads
  h4 Ads
  a(href='#')
    img(src='http://placehold.it/110', alt='')
  a(href='#')
    img(src='http://placehold.it/110', alt='')
  a(href='#')
    img(src='http://placehold.it/110', alt='')