aside.widget.widget_recent_comments
	h4 RECENT COMMENTS
	.media
		.media-left.media-middle.pull-left
			a(href="#")
				i.icon.icon-Pen
		.media-body
			span Mike Willmadeit
			a(href="#")
				span Quality services
	.media
		.media-left.media-middle.pull-left
			a(href="#")
				i.icon.icon-Pen
		.media-body
			span Jessica Simpson
			a(href="#")
				span Hello World
	.media
		.media-left.media-middle.pull-left
			a(href="#")
				i.icon.icon-Pen
		.media-body
			span Jimmy Henrdax
			a(href="#")
				span We do love what we do