.widget.widget_newsletter
	h4 Newsletter
	p Subscribe to our newsletter and receive news, updates and special offers!
	form
		input.form-control(type="email" placeholder="YOU'R E-MAIL ADDRESS")
		button.btn.btn-primary.filled.small_screen_block(type="submit") GO
	span We will never spam you