extends config/layout.jade

//-====================================
//- CONFIG-OVERRIDES: Add your settings here to override the defaults from config.jade
block config
	- var production                = false
	- var demoMode                  = false
	- var jquery_1                  = false
	- var page_title                = "XENIA - Luxury hotel"
	- var stylesheet                = "style.css"
	- var displayLogo               = true
	- var displayTools              = false
	- var headerClass               = 'click_menu transparent'
	- var logo_link             = 'index.html'
	- var header_nav_class      = 'nav_centered uppercase transparent'
	- var bodyClass                 = ''
	- var bodyStyle             = ""
	- var pagewrapperClass      = ''
	- var owlSlider                 = true
	- var lightbox                  = false
	- var beforeAfter               = false
	- var twitterFeed               = false
	- var googleMaps                = false
	- var isotope                   = true
	- var ajaxLoader                = false
	- var newsletter                = false
	- var parallax                  = false
	- var easing                    = false
	- var wowAnimation          = true
	- var contactForm               = false
//-====================================

block header_content
	include includes/header  
block head_panel
	.head_panel
		.full_width_photo.transparent_film(style="background-image: url('./assets/images/page-head-5.jpg')")
			.container
				.caption
					h1 BLOG BOXED
					span News from our Xenia family, in a different layout
block main_content
	section.light_section
		.container
			.row
				.col-md-12.text-left
					ul.breadcrumb
						li
							a(href="#!") HOME
						li
							span BLOG BOXED
				.col-md-12
					.post-grid.masonry.boxed_children
						.row
							.col-md-4.margin_bottom_half
								article.post
									figure
										a(href='single.html', title='Post')
											img(alt='Post with Slider', src='assets/images/blog-boxed-1.jpg')
										.blog_bg_light
											span.post_date
													| October 24, 2015
											h2.post_title
												a(href='single.html') Quality services
											.post_figure_and_info
												.post_sub
													a(href='single.html')
														span.post_info.post_author Henrik Pleth
													a(href="single.html")
														span.post_info.post_categories News
											p.text-justify
												| The image is put here as is. While it seems like an easy task, swallowing a pill is something that many have great difficulty doing. The fear of gagging causes the throat to tighten up so that until you spit it out.
											a.btn.btn-primary(href='single.html') Read More
							.col-md-4.margin_bottom_half
								article.post
									figure
										a(href='single.html', title='Post')
											img(alt='Post with Slider', src='assets/images/blog-boxed-2.jpg')
										.blog_bg_light
											span.post_date
													| October 22, 2015
											h2.post_title
												a(href='single.html') King suite reconstruction
											.post_figure_and_info
												.post_sub
													a(href='single.html')
														span.post_info.post_author Bailey Wonger
													a(href='single.html')
														span.post_info.post_categories Accomondation
											p.text-justify
												| The image is put here as is. While it seems like an easy task, swallowing a pill is something that many adults and children have great difficulty doing. This, and just leays to approach the problem so that you can relax, overcome the fear of choking, and just let the pill easily slide down. It's like riding a bike - once you get the hang of it, it becomes second nature.
											a.btn.btn-primary(href='single.html') Read More
							.col-md-4.margin_bottom_half
								article.post
									figure
										a(href='single.html', title='Post')
											img(alt='Post with Slider', src='assets/images/blog-boxed-4.jpg')
										.blog_bg_light
											span.post_date
													| October 19, 2015
											h2.post_title
												a(href='single.html') New room with pool
											.post_figure_and_info
												.post_sub
													a(href='single.html')
														span.post_info.post_author Henrik Pleth
													a(href='single.html')
														span.post_info.post_categories Stories
											p.text-justify
												| The image is put here as is. While it seems like an easy task, swallowing a pill is something that many adults and children have great difficulty doing. The fear of gagging causes the throat to tighten up so that pill stays in your mouth until you spit it out. Fortunately, there are various ways to approach the problem so that you can relax, overcome the fear of choking, and just let the pill easily slide down. It's like riding a bike - once you get the hang of it, it becomes second nature.
											a.btn.btn-primary(href='single.html') Read More
							.col-md-4.margin_bottom_half
								article.post
									figure
										a(href='single.html', title='Post')
											img(alt='Post with Slider', src='assets/images/blog-boxed-3.jpg')
										.blog_bg_light
											span.post_date
													| October 18, 2015
											h2.post_title
												a(href='single.html') Our old facility
											.post_figure_and_info
												.post_sub
													a(href='single.html')
														span.post_info.post_author Bailey Wonger
													a(href='single.html')
														span.post_info.post_categories Accomondation
											p.text-justify
												| The image is put here as is. While it seems like an easy task, swallowing a pill is something that many adults and children have great difficulty doing. The fear of gagging causes the throat to tighten up so that pill stays in your mouth until you spit it out. Fortunately, there are various ways to approach the problem so that you can relax, overcome the fear of choking, and just let the pill easily slide down. It's like riding a bike - once you get the hang of it, it becomes second nature.
											a.btn.btn-primary(href='single.html') Read More
							.col-md-4.margin_bottom_half
								article.post
									figure
										a(href='single.html', title='Post')
											img(alt='Post with Slider', src='assets/images/blog-boxed-5.jpg')
										.blog_bg_light
											span.post_date
													| October 12, 2015
											h2.post_title
												a(href='single.html') Summer is here
											.post_figure_and_info
												.post_sub
													a(href='single.html')
														span.post_info.post_author Parsley Montana
													a(href='single.html')
														span.post_info.post_categories News
											p.text-justify
												| The image is put here as is. While it seems like an easy task, swallowing a pill is something that many adults and children have great difficulty doing. The fear of gagging causes the throat to tighten up so that pill stays in your mouth until you spit it out. Fortunately, there are various ways to approach the problem so that you can relax, overcome the fear of choking, and just let the pill easily slide down. It's like riding a bike - once you get the hang of it, it becomes second nature.
											a.btn.btn-primary(href='single.html') Read More
							.col-md-4.margin_bottom_half
								article.post
									figure
										a(href='#', title='Post')
											img(alt='Post with Slider', src='assets/images/blog-boxed-6.jpg')
										.blog_bg_light
											span.post_date
													| October 9, 2015
											h2.post_title
												a(href='#') Luxurious champagne 
											.post_figure_and_info
												.post_sub
													a(href='#')
														span.post_info.post_author Bailey Wonger
													a(href='#22')
														span.post_info.post_categories Stories
											p.text-justify
												| The image is put here as is. While it seems like an easy task, swallowing a pill is something that many adults and children have great difficulty doing. The fear of gagging causes the throat to tighten up so that pill stays in your mouth until you spit it out. Fortunately, there are various ways to approach the problem so that you can relax, overcome the fear of choking, and just let the pill easily slide down. It's like riding a bike - once you get the hang of it, it becomes second nature.
											a.btn.btn-primary(href='#') Read More
block footer_content
	include includes/footer
  
block secondary_nav_widgetized_area_content
	include includes/secondary-widgetized-area