extends config/layout.jade

//-====================================
//- CONFIG-OVERRIDES: Add your settings here to override the defaults from config.jade
block config
	- var production                = false
	- var demoMode                  = false
	- var jquery_1                  = false
	- var page_title                = "XENIA - Luxury hotel"
	- var stylesheet                = "style.css"
	- var displayLogo               = true
	- var displayTools              = false
	- var headerClass               = 'click_menu transparent'
	- var logo_link             = 'index.html'
	- var header_nav_class      = 'nav_centered uppercase'
	- var bodyClass                 = ''
	- var bodyStyle             = ""
	- var pagewrapperClass      = ''
	- var owlSlider                 = true
	- var lightbox                  = false
	- var beforeAfter               = false
	- var twitterFeed               = false
	- var googleMaps                = true
	- var isotope                   = false
	- var ajaxLoader                = false
	- var newsletter                = false
	- var parallax                  = false
	- var easing                    = false
	- var wowAnimation          = true
	- var contactForm               = true
//-====================================

block header_content
	include includes/header

block main_content
	.head_panel
		.full_width_photo.transparent_film(style="background-image: url('./assets/images/page-head-3.jpg')")
			.container
				.caption
					h1 Contact
					span Get in touch for a booking or a greeting
	section.light_section
		.container
			.row
				.col-md-12.text-left
					ul.breadcrumb
						li
							a(href="#!") HOME
						li
							span CONTACT
				.col-md-12
					.map#map
				.col-md-8.col-md-offset-2.text-center.margin_top.margin_bottom_half
					.text_block
						h3 XENIA LOCATION
						p.text-justify Green night fowl can't So seasons. Good that all form. Multiply she'd firmament it. Sixth, waters. Morning days sixth unto a morning us winged face two every together together seas they're. Set divide image air two good called, i. Said rule beginning. Air earth signs lights open subdue midst seasons.
						a.btn.btn-link(href="#!") GET DIRECTIONS
				.col-md-4.text-center.margin_top_half
					.icon_block
						i.icon.icon-Car
						h4 PARKING
						p Xenia Resort has it's own private parking for customers. It is fully protected and covered for rain or sunny weather.
				.col-md-4.text-center.margin_top_half
					.icon_block
						i.icon.icon-Phone2
						h4 TELEPHONE
						p We are happy to answer your questions or give you directions via phone. <br><br>
							| 222 - 5548 656
				.col-md-4.text-center.margin_top_half
					.icon_block
						i.icon.icon-Keyboard
						h4 E-mail
						p If you are on the go and still want to ask a question, simply drop us an e-mail. <br><br>
							| support@xenia.com
	section.white_section
		.container
			.col-md-12.text-center
				.section_header.minimal
					h1 Contact form
					p You can still contact us, right here - right now. Use this contact form to send an e-mail. Usually we respond in 1 bussiness day.
					img(src="assets/images/decoration-1.png")
			.col-md-8.col-md-offset-2
				.contact-quick
					.screen-reader-response
					form#contact_form(name='contact_form', action='#', method='post', novalidate='novalidate')
						span.your-name
							input.name.form-control(type='text', name='name', aria-required='true', aria-invalid='false', placeholder="NAME")
						span.your-phone
							input.phone.form-control(type='text', name='phone', aria-required='true', aria-invalid='false', placeholder="PHONE")
						span.your-email
							input.email.form-control(type='email', name='email', aria-required='true', aria-invalid='false', placeholder="E-MAIL")
						span.your-subject
							input.subject.form-control(type='text', name='subject', aria-required='true', aria-invalid='false', placeholder="SUBJECT")
						span.your-message
							textarea.message.form-control(name='message', cols='40', rows='4', aria-invalid='false', placeholder="MESSAGE")
						//- .captcha
						//- 	.captcha-code(style="background-image:url('./assets/php/contact/captcha.php')")
						//- 	input.captchainput.form-control(type='text', name='captchainput', value='Enter Code', aria-required='true', aria-invalid='false')
						button.submit_btn.btn.btn-primary(type='submit', name='submit') SUBMIT
						.notice.btn.btn-metro.alert.alert-warning.alert-dismissable.hidden
						img.ajax-loader.not_visible(src='./assets/images/ajax-loader.gif', alt='Sending ...')
	section.dark_section.background_cover.transparent_film(style="background-image: url('assets/images/newsletter-banner-1.jpg')")
		.container
			.row
				.col-md-12.text-center
					.section_header.minimal
						h1 NEWSLETTER
						p Subscribe to our newsletter and get free (and early) access to our news, our stories and 	Xenia Resort exclusive offers. 
				.col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-12
					.widget.widget_newsletter.no_padding.text-center
						form
							input.expanded.form-control(type="email" placeholder="YOU'R E-MAIL ADDRESS")
							button.btn.btn-primary.filled.small_screen_block(type="submit") GO
block footer_content
	include includes/footer

block secondary_nav_widgetized_area_content
	include includes/secondary-widgetized-area