extends config/layout.jade

//-====================================
//- CONFIG-OVERRIDES: Add your settings here to override the defaults from config.jade
block config
	- var production        		= false
	- var demoMode          		= false
	- var jquery_1          		= false
	- var page_title        		= "XENIA - Luxury hotel"
	- var stylesheet        		= "style.css"
	- var displayLogo       		= true
	- var displayTools      		= false
	- var headerClass       		= 'click_menu transparent'
	- var logo_link        		= 'index.html'
	- var header_nav_class  	= 'nav_centered uppercase transparent'
	- var bodyClass         		= ''
	- var bodyStyle        	 	= ""
	- var pagewrapperClass  	= ''
	- var owlSlider         		= true
	- var lightbox          		= true
	- var beforeAfter       		= false
	- var twitterFeed       		= false
	- var googleMaps        		= false
	- var isotope           		= true
	- var ajaxLoader        		= false
	- var newsletter        		= false
	- var parallax          		= false
	- var easing            		= false
	- var wowAnimation     		= true
	- var contactForm       		= false
//-====================================

block header_content
	include includes/header  

block main_content
	section.white_section.no_padding.text-center
		.portfolio_grid
			.masonry#cont_medicus.isotope.isotope_portfolio_container
				.col-md-4.images
					.row
						.portfolio_item
							a.lightbox_gallery(href="assets/images/gallery-1.jpg")
								img(src="assets/images/gallery-1.jpg" alt="Image")
				.col-md-4.images
					.row
						.portfolio_item
							a.lightbox_gallery(href="assets/images/gallery-4.jpg")
								img(src="assets/images/gallery-4.jpg" alt="Image")
				.col-md-4.images
					.row
						.portfolio_item
							a.lightbox_gallery(href="assets/images/gallery-6.jpg")
								img(src="assets/images/gallery-6.jpg" alt="Image")
				.col-md-4.images
					.row
						.portfolio_item
							a.lightbox_gallery(href="assets/images/gallery-3.jpg")
								img(src="assets/images/gallery-3.jpg" alt="Image")
				.col-md-4.images
					.row
						.portfolio_item
							a.lightbox_gallery(href="assets/images/gallery-7.jpg")
								img(src="assets/images/gallery-7.jpg" alt="Image")
				.col-md-4.images
					.row
						.portfolio_item
							a.lightbox_gallery(href="assets/images/gallery-2.jpg")
								img(src="assets/images/gallery-2.jpg" alt="Image")
				.col-md-12.images
					.row
						.portfolio_item
							a.lightbox_gallery(href="assets/images/gallery-5.jpg")
								img(src="assets/images/gallery-5.jpg" alt="Image")
				//- .col-md-4.images
				//- 	.row
				//- 		img(src="assets/images/gallery-4.jpg")
				//- .col-md-4.images
				//- 	.row
				//- 		img(src="assets/images/gallery-6.jpg")
				//- .col-md-4.images
				//- 	.row
				//- 		img(src="assets/images/gallery-3.jpg")
				//- .col-md-4.images
				//- 	.row
				//- 		img(src="assets/images/gallery-7.jpg")
				//- .col-md-4.images
				//- 	.row
				//- 		img(src="assets/images/gallery-2.jpg")
				//- .col-md-12.images
				//- 	.row
				//- 		img(src="assets/images/gallery-5.jpg")
block footer_content
	include includes/footer
  
block secondary_nav_widgetized_area_content
	include includes/secondary-widgetized-area