extends config/layout.jade

//-====================================
//- CONFIG-OVERRIDES: Add your settings here to override the defaults from config.jade
block config
	- var production        		= false
	- var demoMode          		= false
	- var jquery_1          		= false
	- var page_title        		= "XENIA - Luxury hotel"
	- var stylesheet        		= "style.css"
	- var displayLogo       		= true
	- var displayTools      		= false
	- var headerClass       		= 'click_menu transparent'
	- var logo_link        		= 'index.html'
	- var header_nav_class  	= 'nav_centered uppercase transparent'
	- var bodyClass         		= ''
	- var bodyStyle        	 	= ""
	- var pagewrapperClass  	= ''
	- var owlSlider         		= true
	- var lightbox          		= false
	- var beforeAfter       		= false
	- var twitterFeed       		= false
	- var googleMaps        		= false
	- var isotope           		= true
	- var ajaxLoader        		= false
	- var newsletter        		= false
	- var parallax          		= false
	- var easing            		= false
	- var wowAnimation     		= true
	- var contactForm       		= false
//-====================================

block header_content
	include includes/header  

block main_content
	.head_panel
		.full_width_photo.vertical_center.bg_vtop.padding_top_half.transparent_film(style="background-image: url(assets/images/home-offer.jpg)")
			.container
				.row
					.col-md-8.col-md-offset-2.text-center
						.caption.caption_elegant
							.inner
								.t3.uppercase  XENIA'S MONTHLY OFFER
								.t1 THREE DAYS PACKAGE
	section.white_section
		.container
			.col-md-6.col-md-offset-3.text-center.margin_bottom_half
				.text_block
					ul.offer
						li
							.checkmark 
							| Double room
						li 
							.checkmark 
							| 1 Aromatherapy 
						li 
							.checkmark 
							| Free Gym Access
						li 
							.checkmark 
							| 1 Luxury Dinner
					ul.offer
						li
							.checkmark 
							| Access to Pool
						li 
							.checkmark 
							| Parking
						li 
							.checkmark 
							| Sports activities
						li 
							.checkmark 
							| 20% Online discount
				hr.margin_bottom_half
			.col-md-12.text-center.margin_bottom.padding_bottom
				.text_block
					p.lead All these, come together with an amazing price of -
					h2 $ 799.99
					span * PRICE EXCLDUING VAT
					a.btn.btn-primary.filled.margin_top_half(href="booking.html") BOOK NOW
			.row.vcenter.margin_top_half
				.col-md-6.text-left
					.text_block
						span 5-STAR QUALITY ROOM
						h3 DOUBLE ROOM
						p A wide range of remarkable unique tastes and feelings. Blessed That day you're dominion lesser cattle the lesser form sea earth won't. Morning made. Can't she'd days sixth beast spirit likeness. Also face Kind fowl so in seas. Gathered may stars land, his dry tree signs make place under signs him upon of rule fill light may deep that.
						a.btn.btn-link(href="room-single.html") THE ROOM
				.col-md-6.margin_bottom_half
					img(src="assets/images/offer-image-1.jpg" alt="Image").small_screen_margin_top_half
			.row.vcenter
				.col-md-6.margin_bottom_half
					img(src="assets/images/offer-image-2.jpg" alt="Image")
				.col-md-6.text-left
					.text_block
						span RE-GAIN YOUR BATTERIES
						h3 CALM &AMP; RELAXING SPA
						p You can always enjoy your dinner privately. Blessed That day you're dominion lesser cattle the lesser form sea earth won't. Morning made. Can't she'd days sixth beast spirit likeness. Also face Kind fowl so in seas. Gathered may stars land, his dry tree signs make place under signs him upon of rule fill light may honestly amazing.
						a.btn.btn-link(href="index-spa.html") SPA CENTER
			.row.vcenter.margin_top_half
				.col-md-6.text-left
					.text_block
						span REMARKABLE EXPERIENCE
						h3 LUXURY DINNER
						p Our experienced staff and our many years guarantee that you'll have a pleasant experience that you will never forget . Blessed That day you're dominion lesser cattle the lesser form sea earth won't. Morning made. Also face Kind fowl so in seas. Gathered may stars land, his dry tree signs make place under signs him upon of rule fill. To be cue or not to be cue is our main and only goal.
						a.btn.btn-link(href="index-restaurant.html") OUR RESTAURANT
				.col-md-6.margin_bottom_half
					img(src="assets/images/restaurant-feature-3.jpg" alt="Image").small_screen_margin_top_half
	section.dark_section.text-center.background_cover.bg_vtop.transparent_film(style="background-image: url(assets/images/offer-banner-1.jpg);")
		.container					
			.col-md-8.col-md-offset-2.margin_top_half
				.text_block
					h2 ARE YOU EXCITED YET?
					p Save money, with a special 20% discount which applies only if you book your room online.
					img.block(src="assets/images/decoration-1-inverted.png" width="160" alt="Image")
					a.btn.btn-white(href="booking.html") BOOK NOW
block footer_content
	include includes/footer
  
block secondary_nav_widgetized_area_content
	include includes/secondary-widgetized-area