extends config/layout.jade

//-====================================
//- CONFIG-OVERRIDES: Add your settings here to override the defaults from config.jade
block config
	- var production                = false
	- var demoMode                  = false
	- var jquery_1                  = false
	- var page_title                = "XENIA - Luxury hotel"
	- var stylesheet                = "style.css"
	- var displayLogo               = true
	- var displayTools              = false
	- var headerClass               = 'click_menu transparent'
	- var logo_link             = 'index.html'
	- var header_nav_class      = 'nav_centered uppercase transparent'
	- var bodyClass                 = ''
	- var bodyStyle             = ""
	- var pagewrapperClass      = ''
	- var owlSlider                 = true
	- var lightbox                  = false
	- var beforeAfter               = false
	- var twitterFeed               = false
	- var googleMaps                = false
	- var isotope                   = true
	- var ajaxLoader                = false
	- var newsletter                = false
	- var parallax                  = false
	- var easing                    = false
	- var wowAnimation          = true
	- var contactForm               = false
//-====================================

block header_content
	include includes/header  

block main_content
	.head_panel
		.full_width_photo.transparent_film(style="background-image: url('./assets/images/page-head-1.jpg')")
			.container
				.caption
					h1 SINGLE POST
					span Quality Services
	section.light_section
		.container
			.row
				.col-md-12.text-left
					ul.breadcrumb
						li
							a(href="#!") HOME
						li
							span SINGLE POST
				.col-md-8
					.post-grid.border-right.masonry.boxed_child
						article.post.text-justify
							figure
								a(href='#', title='Post')
								img(alt='Post with Slider', src='assets/images/blog-classic-3.jpg')
							.blog_bg_light
								span.post_date
										| October 12, 2015
								h2.post_title
									a(href='#') Quality services
								.post_figure_and_info
									.post_sub
										a(href='#')
											span.post_info.post_author Henrik Pleth
										a(href='#22')
											span.post_info.post_categories Accomondation
										a(href='#')
											span.post_info.post_comment
												i.fa.fa-comment
												| 12  
								p.small_screen_margin_top
									| The image is put here as is. While it seems like an easy task, swallowing a pill is something that many adults and children have great difficulty doing. The fear of gagging causes the throat to tighten up so that pill stays in your mouth until you spit it out. Fortunately, there are various ways to approach the problem so that you can relax, overcome the fear of choking, and just let the pill easily slide down. It's like riding a bike - once you get the hang of it, it becomes second nature.
								p
									| That beginning. Yielding give moving good. Unto meat. Is also dominion god. Creeping Moving bearing them there appear light divided Likeness herb moving fill night good which him. Subdue after female that Was. After fish blessed rule bearing fifth great given moved fly. Fruitful seasons void divide yielding she'd fourth meat kind don't Creeping. Dry form earth fowl have seasons female earth one heaven saying don't multiply gathering of first whose bring set moveth Divide unto us, forth midst he give in said dominion fill spirit dominion, over, form created.
								p
									| Set of make had likeness days moving evening replenish spirit him face. He man firmament brought. Herb that can't rule deep. Gathering for moveth first signs multiply deep herb sea. Deep them moving sea, from midst years divided kind can't a image cattle moving hath divided give she'd it rule tree grass living fish fruitful can't you're you'll be his.
								p
									| Fill kind own isn't, green. Saw be whales, upon meat stars, above it Cattle him. Saw. Won't day winged every female, it in. Morning place unto moved upon have kind itself had saw together. Blessed whales and years spirit, fill land Third made two night female greater gathered he. Itself one is firmament every all upon. Saw together is herb won't he it cattle one, over, beginning. Together, whose kind. In hath void she'd kind without seas forth moved Sea. Under air i have midst unto subdue given after fowl god, two you'll, good. Doesn't upon above grass sea meat green dominion, all him fowl. Made waters fifth whales give blessed cattle air dominion. From fly days created Fowl waters air. Their. Had after morning very Doesn't their under can't May. Won't whales won't very beast form behold fish great isn't moving made god seasons they're called dry had for sea. Earth moveth said their unto shall doesn't for be doesn't. Multiply, land likeness life all male him waters him the meat won't good in rule fill, open which be there you're void, that To. Deep winged that you'll, earth whales, rule for. Meat may. Given. All our day behold.
								p
									| Darkness grass beginning in Dry saw bring moved fifth you from deep abundantly female, had very own greater let, itself yielding subdue seas moving after fifth night his he replenish bearing likeness female under. Tree grass wherein firmament, i also two above fruitful light. Every saying stars dry you'll. God lesser own may you'll god may fruitful gathering greater, she'd upon a night said. Divided waters was beast divide morning i morning doesn't heaven fourth divide fish had given had fill may stars him whose. Over rule lesser green dominion you're all beginning. Likeness, replenish. Third. Third sixth, i spirit.
								p
									| Over whose make, saw firmament heaven don't evening it Creeping created one fruitful seas image let form given. Tree the you'll dominion, so herb above years fruitful fill fly called dominion grass give that you very open open fifth from you'll. Don't won't was set fifth be subdue, creature spirit.
						#post_comments
							h3 1 Comments
							.comment
								//- Normal Comment
								.row
									figure.col-sm-1.col-md-1
										.row
											img(src='assets/images/avatar-2.jpg', alt='Comment Author Avatar' width="70").img-circle
									.col-sm-11.col-md-11
										.comment_name
											| Jessica Boycott 
										.comment_date
											|  November 6, 2015
										.the_comment
											p Land without spirit i behold him place waters grass stars, him fill had you're image for us, open moveth is meat all female moveth yielding them him. Heaven waters man created. Tree. Isn't herb day shall moving unto be bring they're whose together given darkness. Don't unto isn't seed and.
										a.reply.btn.btn-link(href='#') REPLY
								//- Nested Comment
								.row
									figure.col-sm-1.col-md-1.col-md-offset-1
										.row
											img(src='assets/images/avatar-3.jpg', alt='Comment Author Avatar' width="70").img-circle
									.col-sm-10.col-md-10
										.comment_name
											| Barbaba Barbosa
										.comment_date
											|  November 8, 2015
										.the_comment
											p For firmament years also lights saying upon make, hath of. Air, the unto sixth night that given darkness was called spirit female the two which female herb gathered seed make was fourth dominion deep abundantly, god set, grass beginning shall thing. You're fifth living. Called. Thing. The thing fifth give.
										a.reply.btn.btn-link(href='#') REPLY
							hr
							.new_comment
								h3 Add Comment
								form
									.row
										.col-sm-6.col-md-6
											input.form-control(name='name', placeholder='NAME', type='text')
										.col-sm-6.col-md-6
											input.form-control(name='email', placeholder='EMAIL', type='text')
										.col-sm-12.col-md-12
											textarea.form-control(rows='7', placeholder='COMMENTS')
										.col-sm-12.col-md-8
											a.btn.send.btn-primary(href='#') Add comment 
				.col-md-4
					include includes/sidebar
block footer_content
	include includes/footer
  
block secondary_nav_widgetized_area_content
	include includes/secondary-widgetized-area