extends config/layout.jade

//-====================================
//- CONFIG-OVERRIDES: Add your settings here to override the defaults from config.jade
block config
	- var production        		= false
	- var demoMode          		= false
	- var jquery_1          		= false
	- var page_title        		= "XENIA - Luxury hotel"
	- var stylesheet        		= "style.css"
	- var displayLogo       		= true
	- var displayTools      		= false
	- var headerClass       		= 'click_menu transparent'
	- var logo_link        		= 'index.html'
	- var header_nav_class  	= 'nav_centered uppercase'
	- var bodyClass         		= ''
	- var bodyStyle        	 	= ""
	- var pagewrapperClass  	= ''
	- var owlSlider         		= true
	- var lightbox          		= false
	- var beforeAfter       		= false
	- var twitterFeed       		= false
	- var googleMaps        		= false
	- var isotope           		= false
	- var ajaxLoader        		= false
	- var newsletter        		= false
	- var parallax          		= false
	- var easing            		= false
	- var wowAnimation     		= true
	- var contactForm       		= false
//-====================================
block header_content
	include includes/header  

block main_content
	.head_panel
		.full_width_photo.transparent_film(style="background-image: url('./assets/images/page-head-1.jpg')")
			.container
				.caption
					h1 Double Room
					span Double room with view
	section.light_section
		.container
			.row
				.col-md-6.text-left
					ul.breadcrumb
						li
							a(href="#!") HOME
						li
							a(href="#!") ROOMS
						li
							span DOUBLE ROOM
				.col-md-6.text-right.small_screen_text_left
					a(href="#")
						span.previous_icon(data-toggle="tooltip" data-placement="left" title="Previous room")
					a(href="#")
						span.next_icon(data-toggle="tooltip" data-placement="right" title="Next room")
				.col-md-12.small_screen_margin_top_half
					.owl-carousel.owl-room-single-carousel
						img(src="assets/images/room-single-image.jpg" alt="Image")
						img(src="assets/images/room-single-image.jpg" alt="Image")
				.col-md-8.padding_bottom
					.room_single_bg_light
						.text_block.text-justify
							h2 Double Room
							div.rooms_margin_custom_1
								i.icon.icon-TV(data-toggle="tooltip" data-placement="bottom" title="This room has Cable TV")
								i.icon.icon-Signal(data-toggle="tooltip" data-placement="bottom" title="This room has WiFI")
								i.icon.icon-Espresso(data-toggle="tooltip" data-placement="bottom" title="This room has Cafe Bar")
							p Gathering waters called herb winged fifth dry land every so isn't day called fifth signs isn't have. Was, unto face which life divide male signs one so beginning they're forth. Life hath face god fruit gathered <strong>hotel</strong> form. Life together can't. Morning unto beginning gathered created. Open had third. Replenish can't of. Years thing days likeness. Own second, whose itself male abundantly brought darkness said it forth light one created kind. Replenish isn't fruit you'll. Wherein earth grass have days firmament, land itself fly. Meat third green winged let creepeth midst us midst for won't. Every lesser <strong>room service</strong> you'll day, bearing. Together for you're fruit multiply years of gathering after darkness lights given moveth greater doesn't dry signs creeping, greater night was green thing. Fly every. Land bring fruit that light one void after let them so abundantly spirit and cattle abundantly man. Waters seasons years land, over together grass created his days to for. <strong>Amazing</strong> to doesn't thing Morning creepeth all called itself and may light divided above. Moving waters itself.
							p Moveth fish whales. Waters had which it cattle face their in. Dry the tree them creepeth dominion can't moving itself air don't. First. Were doesn't creepeth living. Without seasons upon.
						//- ul.feature_list
						//- 	li Satellite TV
						//- 	li Free Wifi
						//- 	li Coffee machine
						//- 	li Liquor bar
						.room_reviews
							h2 Clients' experiences
							.media
								.pull-left
									img(src="assets/images/avatar-4.jpg", width="50" alt="Image").media-object.img-circle
								.media-body
									h4 An awesome journey
									div
										span ROOM SERVICE
										.stars.four-star-rating
											i.icon.icon-Star
											i.icon.icon-Star
											i.icon.icon-Star
											i.icon.icon-Star
											i.icon.icon-Star
									div
										span POSITION
										.stars.three-star-rating
											i.icon.icon-Star
											i.icon.icon-Star
											i.icon.icon-Star
											i.icon.icon-Star
											i.icon.icon-Star
									div
										span PRICE
										.stars.five-star-rating
											i.icon.icon-Star
											i.icon.icon-Star
											i.icon.icon-Star
											i.icon.icon-Star
											i.icon.icon-Star
									p Winged itself dominion land over lesser made two be seasons beast replenish, shall one living seed us lights life. That cattle together days have he. Meat winged. Them it also don't all created. Hath very saying. Can't. Place own herb.
										span - 22 / 11 /2015
									hr
							.media
								.pull-left
									img(src="assets/images/avatar-3.jpg", width="50" alt="Image").media-object.img-circle
								.media-body
									h4 VACATIONS ON XENIA
									div
										span ROOM SERVICE
										.stars.four-star-rating
											i.icon.icon-Star
											i.icon.icon-Star
											i.icon.icon-Star
											i.icon.icon-Star
											i.icon.icon-Star
									div
										span POSITION
										.stars.three-star-rating
											i.icon.icon-Star
											i.icon.icon-Star
											i.icon.icon-Star
											i.icon.icon-Star
											i.icon.icon-Star
									div
										span PRICE
										.stars.five-star-rating
											i.icon.icon-Star
											i.icon.icon-Star
											i.icon.icon-Star
											i.icon.icon-Star
											i.icon.icon-Star
									p Winged itself dominion land over lesser made two be seasons beast replenish, shall one living seed us lights life. That cattle together days have he. Meat winged. Them it also don't all created. Hath very saying. Can't. Place own herb.
										span - 14 / 11 /2015
									hr
							.media
								.pull-left
									img(src="assets/images/avatar-2.jpg", width="50" alt="Image").media-object.img-circle
								.media-body
									h4 A NIGHT TO REMEMBER
									div
										span ROOM SERVICE
										.stars.four-star-rating
											i.icon.icon-Star
											i.icon.icon-Star
											i.icon.icon-Star
											i.icon.icon-Star
											i.icon.icon-Star
									div
										span POSITION
										.stars.three-star-rating
											i.icon.icon-Star
											i.icon.icon-Star
											i.icon.icon-Star
											i.icon.icon-Star
											i.icon.icon-Star
									div
										span PRICE
										.stars.five-star-rating
											i.icon.icon-Star
											i.icon.icon-Star
											i.icon.icon-Star
											i.icon.icon-Star
											i.icon.icon-Star
									p Winged itself dominion land over lesser made two be seasons beast replenish, shall one living seed us lights life. That cattle together days have he. Meat winged. Them it also don't all created. Hath very saying. Can't. Place own herb.
										span - 7 / 11 /2015
									hr
				.col-md-4.padding_top_half
					.col-md-12.widget_booking_form.margin_bottom.background_cover(style="background-image: url('assets/images/booking-form-widget-bg.jpg')")
						h5 STARTING PRICE FROM
						p $ 205
							small	/ DAY
						form.booking_form_small.text-left
							.form_group
								label Check in date
								input(type="text", placeholder="Select your date")#date_check_in
							.form-group
								label Check out date
								input(type="text", placeholder="Select your date")#date_check_out
							button(type="submit") CHECK AVAILABILITY
					.widget.pl_sidebar_menu
						h4 More Rooms
						ul
							li
								a(href="#!") SINGLE ROOM
							li
								a(href="#!") DOUBLE ROOM
							li
								a(href="#!") SUITE WITH VIEW
							li
								a(href="#!") DELUXE KING SUITE
					.widget.widget_book.background_cover.widget_no_line(style="background-image: url('assets/images/book-widget-bg.jpg')")
						h2 SPECIAL OFFER
						p $ 199 / DAY
						a.btn.btn-white(href="#!") BOOK NOW
					.widget.widget_tripadvisor.white_section.widget_no_line(style="background-image: url('assets/images/tripadvisor-widget-bg.jpg')")
						span XENIA WORLDWIDE
						h3 RECOMMENDED ON
						a(href="#")
							img(src="assets/images/widget-tripadvisor.png" alt="Widget logo" width="100")
block footer_content
	include includes/footer

block secondary_nav_widgetized_area_content
	include includes/secondary-widgetized-area
