// Style Switcher, You propably want to remove this!
script(type="text/javascript" src="./assets/js/_style-switcher.js")
.style_switcher
     .gear
          i.fa.fa-gear
     .styles
          h6 Color Variations
          ul.color_variations
               li.style-default
                    i.fa.fa-circle
               li.style-golder
                    i.fa.fa-circle
               li.style-silver
                    i.fa.fa-circle
               li.style-purple
                    i.fa.fa-circle 
               li.style-white
                    i.fa.fa-circle
          //- h6 Section Settings                            
          //- p
          //-   a.btn.btn-primary(href="?enableStyleSwitcher") Enable
// END Style Switcher

//- // DYNAMIC STYLE SWITCHER 
//- script(type="text/style-switcher-template", id="style-switcher-template")
//-      .section_style_switcher
//-          .handler
//-              i.fa.fa-wrench
//-          .inner_area
//-              .section_styles      
//-                  h5 Section Classes                 
//-                  a.color_section primary_section
//-                  a.color_section secondary_section
//-                  a.color_section dark_section
//-                  a.color_section light_section
//-                  a.color_section black_section
//-                  a.color_section white_section                 
//-                  a.color_section transparent
//-                  hr
//-                  a bgimage
//-                  a transparent-film
//-                  a gradient-film-to-top
//-                  a gradient-film-to-bottom
//-                  hr
//-                  a gradient
//-                  a gradient-invert
//-                  hr
//-                  a no_padding
//-                  a no_top_padding
//-                  a no_bottom_padding
//-                  a no_cols_padding
//-                  a margin_top
//-                  a margin_bottom
//-                  a full_width
//-                  a fluid_width
//-                  a vcenter 
//-                  a vbottom
//-                  hr
//-                  a full_height
//-                  a vertical_center
//-                  a vertical_bottom
//-                  hr
//-                  a elevate

//- // END DYNAMIC STYLE SWITCHER 
