// ========================= NEWLETTER ========================

.newsletter_form
	form#newsletter.form-inline(action='assets/php/mailchimp/mailchimp.php', method='POST')
		input#email.form-control(placeholder='Give Us your e-mail...', name='email', type='text')
		button.btn.btn-secondary.form-control(type='submit') Go AHEAD!
		span#newsletterResponse.btn.btn-primary.hidden MESSAGE

// ======================== /NEWLETTER ========================
