
// ========================= TWITTER FEED ========================

.twitter_feed_wrapper.row
  .col-md-2
    .twitter_feed_icon.wow.slideInLeft
      a(href="https://twitter.com/PlethoraThemes", target="_blank")
        i.fa.fa-twitter    
  .col-md-8
    #twitter_flexslider.flexslider
  .col-md-2    

// END====================== TWITTER FEED ========================
