aside.widget.widget_search.small_screen_margin_top_half
	form#s(method='get', name='s', action='#')
		.input-group
			input#search.form-control(name='s', type='text', placeholder='SEARCH')
			i.icon.icon-Search