aside.widget.widget_latest_posts
	h4 RECENT POSTS
	.media
		.media-left.media-middle.pull-left
			a(href="#")
				img(src="assets/images/widget-post-1.jpg", alt="Widget Image").media-object
		.media-body
			a(href="#")
				span TITLE JUST GOES HERE
			p October 22, 2015
	.media
		.media-left.media-middle.pull-left
			a(href="#")
				img(src="assets/images/widget-post-2.jpg", alt="Widget Image").media-object
		.media-body
			a(href="#")
				span ANOTHER POST IS AWESOME
			p October 17, 2015
	.media
		.media-left.media-middle.pull-left
			a(href="#")
				img(src="assets/images/widget-post-3.jpg", alt="Widget Image").media-object
		.media-body
			a(href="#")
				span WE DO LOVE WHAT WE DO
			p October 9, 2015