
// ====================== IMAGE COMPARE =====================

.pl_image_compare
    .twentytwenty-container(data-default_offset_pct=0.25, data-orientation='horizontal')
        img(src='./assets/images/before.jpg', alt='Βefore')
        img(src='./assets/images/after.jpg', alt='Αfter')

// END=================== IMAGE COMPARE =====================
