// ============================ FOOTER ============================

footer(class="footer #{footerClass}")
	.container-fluid
		.row
			.col-md-12.padding_top.padding_bottom.text-center
				a(href="index.html")
					img(src="assets/images/logo.png", alt="logo" width="100")
				.text_block
					//- h6
					//- 	i A memorable journey.
				.text_block.margin_top
					div.footer_block
						i.icon.icon-Phone.margin_left_custom_1
						| 255 - 5546 989
					div.footer_block
						i.icon.icon-Flag.margin_left_custom_1
						| Mercury Hills 40, Atlanta
					div.footer_block
						i.icon.icon-Keyboard.margin_left_custom_1
						| support@xenia.com
				//- .col-md-3
				//- 	include widgets/widget-about
				//- .col-md-3
				//- 	include widgets/widget-latest-posts
				//- .col-md-3.text-left
				//- 	include widgets/widget-newsletter
				//- .col-md-3
				//- 	.widget.widget_weather
				//- 		h4 Weather11
				//- 		.alfie-wp-weather-object
				//- 			img(src="assets/images/widget-weather.png" alt="Image")
				//- 			.country
				//- 				h5 Mercury Hills
				//- 				span ATLANTA
				//- 			.temperature
				//- 				span 21° 
				//- 					small C
				//- 			.description
				//- 				span H:
				//- 					small  70%
				//- 				span W:
				//- 					small  14.48 km/h
				//- 				span V:
				//- 					small  9.99
		.row
			.col-md-12.copyright_content.vcenter
				.col-md-4
					.copyright.small_screen_text_center
						p
							| COPYRIGHT © 2015 ALL RIGHTS RESERVED XENIA HOTEL
				.col-md-4.award
					img(src="assets/images/award.png" width="120" alt="Image").center-block
				.col-md-4.text-right.small_screen_text_center
					.widget_footer_menu
						a(href="index.html") ABOUT
						a(href="room-list.html") ROOMS
						a(href="contact.html") CONTACT
					.social
						a(href='#' class='symbol' title='circletwitterbird')
						a(href='#' class='symbol' title='circleinstagram')
						a(href='#' class='symbol' title='circlefacebook')
						a(href='#' class='symbol' title='circleskype')