nav
	include navs/navigation-secondary
//-include widgets/widget-search
include widgets/widget-about
.col-md-12
	.secondary_widgetized_area_copyright.small_screen_text_center
		p
			| COPYRIGHT © 2015 ALL RIGHTS RESERVED