// =========================== SIDEBAR ==========================

include widgets/widget-search
include widgets/widget-about
include widgets/widget-latest-posts
include widgets/widget-categories
include widgets/widget-tags
include widgets/widget-recent-comments

// END======================== SIDEBAR ==========================