
// ========================= TOP BAR ========================

.topbar.vcenter.hidden-xs.black_section.transparent-film
    .container
      .row
        .col-md-6.col-sm-6 
          .top_menu_container
            nav
              ul.top_menu.hover_menu
                li
                  a(href="#") Log In
                li
                  a(href="#") Terms &amp; Conditions
                li.lihasdropdown
                  a(href="#") FAQ
                  ul.menu-dropdown
                    li
                      a(href="#") Questions
                    li
                      a(href="#") Answers
                    li
                      a(href="#") Other   
        .col-md-6.col-sm-6.text-right
          a.btn.btn-sm.btn-success.with-icon(href='blog.html')
            | Request a Health Plan
            i.fa.fa-caret-right

// END====================== TOP BAR ========================
