<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/bootstrap-grid.css" type="text/css" media="all">
    <link rel="stylesheet" href="css/bootstrap-reboot.css" type="text/css" media="all">
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/bootstrap.bundle.js"></script>
</head>
<body>
All Books available in our bookstore:
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Book Title</th>
            <th scope="col">ISBN</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-danger" th:each="book : ${books}">
            <td th:text="${book.id}">1</td>
            <td th:text="${book.name}">1</td>
            <td th:text="${book.price}">1</td>
            <td th:text="${book.ISBN}">Text ...</td>
        </tr>
    </tbody>
</table>
<a href="/addBook" class="btn btn-primary" >Create New Book</a>
</body>

</html>