// =========================== HEADER ==========================

.mainbar      
	.container-fluid
		if displayLogo
			.logo
				a.brand(href='#{logo_link}')
					img(src='./assets/images/logo.png', alt="logo")
		.nav_and_tools(class="#{header_nav_class}")     
			include navs/navigation-primary
			if displayTools
				include tools-on-header
	a.menu-toggler
		span.title
			//- | MORE
		span.lines

// END======================== HEADER ==========================