div.tools_on_header
    a(href="#")
      i.fa.fa-facebook
    a(href="#")
      i.fa.fa-twitter    
    a(href="#")
      i.fa.fa-linkedin
    a.cart_toggler(href="#cart") 
      i.fa.fa-shopping-cart
      span (2)	