ul
	li
		a(href='index-gym.html') Gym                        
	li
		a(href='index-spa.html') Spa
	li
		a(href='index-package-offer.html') Package
	li
		a(href='room-single.html') Room Single 
	li
		a(href='blog-boxed.html') Blog Masonry
	li
		a(href='room-list-compact.html') Room List Grid
	li
		a(href='single.html') Post Single 
	li
		a(href='booking.html') Booking
	li
		a(href='404.html') 404