nav.primary_nav
  ul.nav
    li
      a(href='#about') About
    li
      a(href='#services') Services
    li
      a(href='#portfolio') Portfolio
    li
      a(href='#pricing') Pricing  
    li
      a(href='#contact') Contact
    li.drop-mid.two-column
      a(href="#") More
      ul
        li
          a(href='design-elements.html') Design Elements
        li
          a(href='portfolio-single.html') Portfolio Single
        li
          a(href='team-member-single.html') Team Member Single
        li
          a(href='post-single.html') Post Single
        li
          a(href='page-single.html') Page Single      
        li
          a(href='404.html') 404 Page  
        li
          a(href='multi-pager-home.html') Multi-Pager Demo
    li
      a(href='#') Seven      