nav.primary_nav
	ul.nav
		li
			a(href='index.html') Home
		li
			a(href='room-list.html') Rooms
		li
			a(href='location.html') Location
		li
			a(href='index-activities.html') Activities
		li
			a(href='index-restaurant.html') Restaurant
		li
			a(href='gallery.html') Gallery
		li
			a(href='blog.html') Blog
		li
			a(href='contact.html') Contact