//-----[ CONFIGURATION ]------------------------------------*/

//- DEVELOPMENT SETTINGS

- var production        = false     //- Load minified scripts and styles, else load normal.
- var demoMode          = true      //- Enable Style Switcher
- var jquery_1          = false     //- Loads jQuery 1.x. Else load jQuery 2.x

//- LAYOUT-EXTEND VARS

- var page_title        = "HOUSTON | Startup Business Design Framework"
- var stylesheet        = "style.css"
- var displayLogo       = true      //- Show or hide the logo
- var displayTools      = false     //- Show or hide the "tools" area beside the menu
- var headerClass       = 'sticky_header click_menu transparent' //- Available classes: None, transparent, sticky_header, appearing_sticky_header, bottom_sticky_header, bottom_to_top_sticky_header, full_width, fluid_width, click_menu, hover_menu, header_centered, logo_centered_in_menu
- var logo_link         = 'index.html'
- var header_nav_class  = ''     //- Available classes: None (default align right), nav_centered, nav_left, uppercase, underline
- var bodyClass         = ''  //- Available classes: None, one_pager, custom
- var bodyStyle         = ""
- var pagewrapperClass  = ''

//- DESIGN ELEMENTS & VISUAL EFFECTS SCRIPTS

- var owlSlider         = false         //- Enable OWL Slider (used on Home Page & One Pager)
- var lightbox          = false         //- Enable Image LightBox on click
- var beforeAfter       = false         //- Enable Before-After Image Compare plugin
- var twitterFeed       = false         //- Enable Twitter feed
- var googleMaps        = false         //- Enable Google Maps
- var isotope           = false         //- Enable Isotope Plugin
- var ajaxLoader        = false         //- Enable Ajax Loader scripts (used in .linkify)
- var newsletter        = false         //- Enable Newsletter functionality
- var parallax          = false         //- Enable Parallax Effect (used on Home Page, Services & About Us -Head Panel section-)
- var easing            = false         //- Extend jQuery's Easing options
- var wowAnimation      = true          //- Enable WOW Animation Script and Animate.css Library
- var contactForm       = false         //- Contact form scripts

//-------------------------------------[ CONFIGURATION ]----*/