meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
meta(charset='utf-8')
title #{page_title}
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
meta(name='HandheldFriendly', content='true')
meta(name='apple-touch-fullscreen', content='yes')
// FAVICON
link(rel='apple-touch-icon', sizes='57x57', href='assets/favicon/apple-touch-icon-57x57.png')
link(rel='apple-touch-icon', sizes='60x60', href='assets/favicon/apple-touch-icon-60x60.png')
link(rel='apple-touch-icon', sizes='72x72', href='assets/favicon/apple-touch-icon-72x72.png')
link(rel='apple-touch-icon', sizes='76x76', href='assets/favicon/apple-touch-icon-76x76.png')
link(rel='apple-touch-icon', sizes='114x114', href='assets/favicon/apple-touch-icon-114x114.png')
link(rel='apple-touch-icon', sizes='120x120', href='assets/favicon/apple-touch-icon-120x120.png')
link(rel='apple-touch-icon', sizes='144x144', href='assets/favicon/apple-touch-icon-144x144.png')
link(rel='apple-touch-icon', sizes='152x152', href='assets/favicon/apple-touch-icon-152x152.png')
link(rel='apple-touch-icon', sizes='180x180', href='assets/favicon/apple-touch-icon-180x180.png')
link(rel='manifest', href='assets/favicon/manifest.json')
meta(name='msapplication-TileColor', content='#da532c')
meta(name='msapplication-TileImage', content='/assets/favicon/mstile-144x144.png')
meta(name='msapplication-config', content='/assets/favicon/browserconfig.xml')
meta(name='theme-color', content='#ffffff')
// Google Fonts
link(href='http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700', rel='stylesheet', type='text/css')
link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700', rel='stylesheet', type='text/css')
if lightbox
	// LIGHTBOX		
	link(rel='stylesheet', href='./assets/css/libs/imagelightbox.min.css', type='text/css', media='all')
if owlSlider
	// OWLSLIDER
	link(rel='stylesheet', href='./assets/js/libs/owl.carousel.2.0.0-beta.2.4/css/owl.carousel.css', type='text/css', media='all', data-module='owlslider')
	link(rel='stylesheet', href='./assets/js/libs/owl.carousel.2.0.0-beta.2.4/css/owl.theme.default.css', type='text/css', media='all', data-module='owlslider')
if beforeAfter
	// BEFORE/AFTER PLUGIN
	link(rel='stylesheet', href='./assets/css/libs/twentytwenty.min.css', type='text/css', data-module='twenty-twenty')
if wowAnimation
	// ANIMATE.CSS LIBRARY
	link(rel='stylesheet', href='./assets/css/libs/animate.min.css', type='text/css', media='all')
// ICON WEB FONTS
// HEADER SCRIPTS	
script(type='text/javascript', src='./assets/js/libs/modernizr.custom.48287.js')
if demoMode
	// Style Switcher
	link(rel='stylesheet', href='./assets/css/_style-switcher.css', type='text/css', media='all')
// MAIN STYLESHEETS
link(rel='stylesheet', href='./assets/css/theme_custom_bootstrap.min.css', type='text/css', media='all')
link(rel='stylesheet', href='./assets/css/#{stylesheet}', type='text/css', media='all')		